.container {
    display: flex;
    margin-top: 30px;
    
   
}

.bocadillo {
    margin-top: 30px;
    position: absolute;
    bottom: 300px;
    right: 20px;
    width: 70vw;
    max-width: 400px;
    min-width: 200px;
    box-sizing: border-box;
    background: white;
    border-radius: 50%;
    box-shadow: 1px 12px 33px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-overflow: clip;
    white-space: wrap;
    
}
.bocadillo:before {
    border: 25px solid white;
    content: '';
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
    position: absolute;
    bottom: -20px;
    right: 244px;
    transform: rotate(30deg);
}
.translation {
    width: 80%;
    
    
}
.girl {
    background-image: url('../repelente.png');
    background-size: cover;
    width: 150px;
    height: 266px;
    align-self: flex-start;
    margin-top: 40px;


}
.hidden {
    display: none;
}